<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="MyTestSuite" parallel="none">

    <listeners>
        <listener
                class-name="com.framework.listeners.ExtentTestNGITestListener" />
    </listeners>
    <parameter name="Category" value="Regression" />
    <parameter name="ReportName" value="Shop on JIO site" />

    <test name="To Add prepaid plan based on amount">
        <classes>
            <class name="com.test.regression.Mobile_TC001_AddPrepaidPlan_Guest"/>
        </classes>
    </test>
</suite>